@import url("http://fonts.googleapis.com/css?family=PT+Sans,italic");


$codeRed: #ff3754;
$codeOrange: #ff9749;
$codeYellow: #f1d950;
$codeGreen: #00b33e;
$codeBlue: #3378cc;
$codePurple: #bf50c2;
$codeGray: #aaa;
$darkBlue: #284352;
$codeTeal: darken(#00ffbc, 5%);

/* Modified CSS reset from: http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
============================================================================ */

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, code,
a, del, dfn, em, img,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, button,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  font-family: "PT Sans", sans-serif;
  background: #e9edf2;
  background: url(noise.png),
              linear-gradient(to bottom, #fff 0%, #e2e7ee 20%, #e2e7ee 100%);
  color: #333;
}

@mixin clearfix {
  &:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
  }
}

@mixin inset {
  box-shadow: 0 2px 0 #f8f8f8,
              inset 0 0 4px rgba(0,0,0,.03),
              inset 0 0 4px rgba(0,0,0,.03),
              inset 0 0 4px rgba(0,0,0,.03),
              inset 0 0 4px rgba(0,0,0,.03),
              inset 0 0 4px rgba(0,0,0,.03);
}

h1, h2, h3, h4, h5, h6 {
  color: $darkBlue;
}

h1 {
  font-size: 200%;
  text-align: center;
  margin: 40px auto;
  width: 200px;
  height: 200px;
  display: block;
  border: 1px solid $darkBlue;
  background: $darkBlue;
  border-radius: 100px;
  line-height: 200px;
  color: #fff;
  box-shadow: inset 0 0 10px rgba(0,0,0,.6),
              0 3px 0 #fff;
  text-shadow: 0 3px 0 #000;
}

h2 {
  font-size: 180%;
  margin-top: -60px;
  margin-bottom: 30px;
  text-shadow: 0 1px 0 #fff,
               0 1px 0 #fff,
               0 1px 0 #fff;
}

h3 {
  font-size: 140%;
  text-decoration: underline;

  &:not(:first-child) {
    margin-top: 20px;
  }
}

section {
  @include clearfix;
  @include inset;

  section+& { margin: 130px auto; }

  margin: 50px auto auto;
  background: #fff;
  border: 1px solid #91a0c0;
  border-left: none;
  border-right: none;
  border-radius: 3px;
  font-size: 14px;
  padding: 25px 120px;
}

:not([class^="col-"]) > pre,
.code-title + pre {
  margin: 0;
}

pre {
  white-space: normal;
}

dd pre {
  margin: 10px 0 !important;
}

dt:not(:first-child) {
  margin-top: 25px !important;
}

// BLOCK CODE
pre code {
  display: block;
  padding: 10px 10px 10px 20px;
  white-space: pre;
  margin-bottom: 15px;
  margin: 0;

  li & {
    margin: 10px 20px;
  }
}

code {
  @include inset;

  border: 1px solid #ccc;
  border-radius: 2px;
  background: #fbfbfb;
  overflow-x: auto;
  font-family: Menlo;
  font-size: 13px;
  display: inline;
  margin: 0 2px;

  .block {
    margin: 4px 0;
    padding: 30px 10px;
    display: inline-block;
    width: 270px ;
    box-sizing: border-box;
    border-width: 1px;
    border-style: dashed;
    text-align: center;
    font-family: "PT Sans";
    font-size: 105%;
  }

  .red   {
    color: $codeRed !important;
    &.block { border-color: $codeRed; }
  }
  .orange {
    color: $codeOrange !important;
  }
  .yellow {
    color: $codeYellow !important;
  }
  .green {
    color: $codeGreen !important;
    &.block {
      background: rgba(0, 179, 62, 0.02) url("stripes.png");
      border-color: rgba($codeGreen, 0.5);
    }
  }
  .blue  {
    color: $codeBlue !important;
    &.block { border-color: $codeBlue; }
  }
  .purple {
    color: $codePurple !important;
  }
  .teal {
    color: $codeTeal !important;
  }
  .gray {
    color: $codeGray !important;
  }

  .comment {
    color: $codeGray;
    font-style: italic;
  }
}

[class^="col-"] {
  float: left;
  height: 100%;
}

.col-2 {
  width: 49%;

  &:last-child {
    float: right;
  }
}

.col-3 {
  width: 32%;
  margin-right: 8px;
}

.hide {
  display: none;

  code & {
    display: block;
    width: 0;
    height: 0;
    opacity: 0;
    text-indent: -9999px;
  }
}

.row {
  @include clearfix;
  margin: 15px 0;
}

.nobullets {
  list-style: none;
}

ul {
  margin-left: 25px;
}

dt {
  padding-left: 20px;
  text-indent: -20px;
}

dd {
  margin: 6px 6px 6px 20px;
}

dd pre {
  margin-bottom: 8px;
}

strong {
  font-weight: bold;
  color: $darkBlue;
}

em {
  font-style: italic;
}

.code-title {
  display: inline-block;
  padding: 5px 0;
  font-style: italic;
  font-size: 110%;
  color: #777;
}

.br {
  display: block;
  height: 0;
}

p code,
li code {
  padding: 0 4px;
}

p {
  p+& { margin-top: 15px; }
  h3+& { margin-top: 5px; }
}

p+ul {
  margin-top: 5px;
}

p var,
ul var,
dl var {
  font-family: Menlo;
  font-size: 13px;
  font-weight: bold;
  color: $darkBlue;
}

.deprecated {
  display: none;
}