@import url("http://fonts.googleapis.com/css?family=PT+Sans,italic");


$codeRed: #f00;
$codeGreen: #00b33e;
$codeBlue: #00f;
$darkBlue: #284352;

/* Modified CSS reset from: http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
============================================================================ */

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, del, dfn, em, img,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, button,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "PT Sans", sans-serif;
  background: #e9edf2;
  color: #333;
}

@mixin clearfix {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

@mixin inset {
  box-shadow: 0 2px 0 #f8f8f8,
              inset 0 0 4px rgba(0,0,0,.15);
}

h1, h2, h3, h4, h5, h6 {
  color: $darkBlue;
}

h1 {
  font-size: 200%;
  text-align: center;
  margin: 40px auto;
  width: 200px;
  height: 200px;
  display: block;
  border: 1px solid $darkBlue;
  background: $darkBlue;
  border-radius: 100px;
  line-height: 200px;
  color: #fff;
  box-shadow: inset 0 0 10px rgba(0,0,0,.6),
              0 3px 0 #fff;
  text-shadow: 0 3px 0 #000;

}

h2 {
  font-size: 160%;
  margin-top: -60px;
  margin-bottom: 30px;
}

h3 {
  font-size: 130%;
  text-decoration: underline;
  margin-top: 15px;
}

section {
  &:after { @include clearfix; }

  @include inset;

  margin: 100px auto;
  background: #fff;
  border: 1px solid #91a0c0;
  border-left: none;
  border-right: none;
  border-radius: 3px;
  font-size: 13px;
  padding: 25px 150px;
}


code {
  @include inset;

  display: block;
  font-family: Consolas;
  border: 1px solid #d0d0d0;
  padding: 8px 8px 8px 15px;d321
  border-radius: 2px;
  background: #fafafa;
  overflow: hidden;

  .block {
    margin: 4px 0;
    padding: 30px 60px;
    display: inline-block;
    width: 150px;
    border-width: 1px;
    border-style: dashed;
    text-transform: uppercase;
    text-align: center;
  }

  .red   {
    color: $codeRed;
    &.block { border-color: $codeRed; }
  }
  .green {
    color: $codeGreen;
    background: rgba(0, 179, 62, 0.03) url("stripes.png");
    &.block { border-color: $codeGreen; }
  }
  .blue  {
    color: $codeBlue;
    &.block { border-color: $codeBlue; }
  }
}

[class^="column-"] {
  float: left;
}

.column-2 {
  width: 49%;

  &:last-child {
    float: right;
  }
}

.column-3 {
  width: 32%;

  &:last-child {
    float: right;
  }
}

.hide {
  display: none;
}

.row {
  clear: both;
  margin: 15px 0;
}

.nobullets {
  list-style: none;
}

ul {
  margin-left: 10px;
}

strong {
  font-weight: bold;
}

.code-title {
  display: inline-block;
  padding: 5px 8px;
  font-style: italic;
  // background: linear-gradient(to bottom, #f9f9f9 0%,#e8e8e8 100%);
  // border: 1px solid #d0d0d0;
  // border-bottom: none;
  // border-radius: 6px 6px 0 0;
  // text-shadow: 0 1px 0 #fff;
}
