@import url("http://fonts.googleapis.com/css?family=PT+Sans,italic");
/* Modified CSS reset from: http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
============================================================================ */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, del, dfn, em, img,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, button,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

body {
  font-family: "PT Sans", sans-serif;
  background: #e9edf2;
  background: linear-gradient(to bottom, white 0%, #e2e7ee 20%, #e2e7ee 100%);
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  color: #284352; }

h1 {
  font-size: 200%;
  text-align: center;
  margin: 40px auto;
  width: 200px;
  height: 200px;
  display: block;
  border: 1px solid #284352;
  background: #284352;
  border-radius: 100px;
  line-height: 200px;
  color: #fff;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6), 0 3px 0 white;
  text-shadow: 0 3px 0 #000; }

h2 {
  font-size: 170%;
  margin-top: -60px;
  margin-bottom: 30px; }

h3 {
  font-size: 130%;
  text-decoration: underline;
  margin-top: 15px; }

section {
  box-shadow: 0 2px 0 #f8f8f8, inset 0 0 4px rgba(0, 0, 0, 0.04), inset 0 0 4px rgba(0, 0, 0, 0.04), inset 0 0 4px rgba(0, 0, 0, 0.04), inset 0 0 4px rgba(0, 0, 0, 0.04);
  margin: 100px auto;
  background: #fff;
  border: 1px solid #91a0c0;
  border-left: none;
  border-right: none;
  border-radius: 3px;
  font-size: 14px;
  padding: 25px 120px; }
  section:after {
    content: " ";
    display: block;
    height: 0;
    clear: both; }

:not([class^="column-"]) > pre,
.code-title + pre {
  margin: 0; }

dd pre {
  margin: 10px 0 !important; }

dt:not(:first-child) {
  margin-top: 25px !important; }

code {
  display: inline; }

pre code {
  display: block;
  padding: 10px 10px 10px 20px; }
  li pre code {
    margin: 10px 20px; }

code {
  box-shadow: 0 2px 0 #f8f8f8, inset 0 0 4px rgba(0, 0, 0, 0.04), inset 0 0 4px rgba(0, 0, 0, 0.04), inset 0 0 4px rgba(0, 0, 0, 0.04), inset 0 0 4px rgba(0, 0, 0, 0.04);
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  background: #fbfbfb;
  overflow: hidden;
  font-family: Menlo;
  font-size: 13px; }
  code .block {
    margin: 4px 0;
    padding: 30px 60px;
    display: inline-block;
    width: 180px;
    border-width: 1px;
    border-style: dashed;
    text-align: center; }
  code .red {
    color: #ff3754; }
    code .red.block {
      border-color: #ff3754; }
  code .orange {
    color: #ff9749; }
  code .yellow {
    color: #f1d950; }
  code .green {
    color: #00b33e; }
    code .green.block {
      background: rgba(0, 179, 62, 0.03) url("stripes.png");
      border-color: #00b33e; }
  code .blue {
    color: #3366cc; }
    code .blue.block {
      border-color: #3366cc; }
  code .purple {
    color: #bf50c2; }
  code .gray {
    color: #aaaaaa; }
  code .comment {
    color: #aaaaaa;
    font-style: italic; }

[class^="column-"] {
  float: left; }

.column-2 {
  width: 49%; }
  .column-2:last-child {
    float: right; }

.column-3 {
  width: 32%; }
  .column-3:last-child {
    float: right; }

.hide {
  display: none; }

.row {
  clear: both;
  margin: 15px 0; }

.nobullets {
  list-style: none; }

ul {
  margin-left: 25px; }

dd {
  margin: 6px 6px 6px 20px; }

dd pre {
  margin-bottom: 8px; }

strong {
  font-weight: bold; }

.code-title {
  display: inline-block;
  padding: 5px 0;
  font-style: italic;
  font-size: 110%; }

.br {
  display: block;
  height: 0; }
