@import url("http://fonts.googleapis.com/css?family=PT+Sans,italic");


$codeRed: #ff3754;
$codeOrange: #ff9749;
$codeYellow: #f1d950;
$codeGreen: #00b33e;
$codeBlue: #36c;
$codePurple: #bf50c2;
$codeGray: #aaa;
$darkBlue: #284352;

/* Modified CSS reset from: http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
============================================================================ */

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, del, dfn, em, img,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, button,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  font-family: "PT Sans", sans-serif;
  background: #e9edf2;
  background: linear-gradient(to bottom, #fff 0%, #e2e7ee 20%, #e2e7ee 100%);
  color: #333;
}

@mixin clearfix {
  &:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
  }
}

@mixin inset {
  box-shadow: 0 2px 0 #f8f8f8,
              inset 0 0 4px rgba(0,0,0,.04),
              inset 0 0 4px rgba(0,0,0,.04),
              inset 0 0 4px rgba(0,0,0,.04),
              inset 0 0 4px rgba(0,0,0,.04);
}

h1, h2, h3, h4, h5, h6 {
  color: $darkBlue;
}

h1 {
  font-size: 200%;
  text-align: center;
  margin: 40px auto;
  width: 200px;
  height: 200px;
  display: block;
  border: 1px solid $darkBlue;
  background: $darkBlue;
  border-radius: 100px;
  line-height: 200px;
  color: #fff;
  box-shadow: inset 0 0 10px rgba(0,0,0,.6),
              0 3px 0 #fff;
  text-shadow: 0 3px 0 #000;
}

h2 {
  font-size: 170%;
  margin-top: -60px;
  margin-bottom: 30px;
}

h3 {
  font-size: 130%;
  text-decoration: underline;
  margin-top: 15px;
}

section {
  @include clearfix;
  @include inset;

  margin: 100px auto;
  background: #fff;
  border: 1px solid #91a0c0;
  border-left: none;
  border-right: none;
  border-radius: 3px;
  font-size: 14px;
  padding: 25px 120px;
}

:not([class^="column-"]) > pre,
.code-title + pre {
  margin: 0;
}

dd pre {
  margin: 10px 0 !important;
}

dt:not(:first-child) {
  margin-top: 25px !important;
}

// INLINE CODE
code {
  display: inline;
}

// BLOCK CODE
pre code {
  display: block;
  padding: 10px 10px 10px 20px;

  li & {
    margin: 10px 20px;
  }
}

code {
  @include inset;

  border: 1px solid #d0d0d0;
  border-radius: 2px;
  background: #fbfbfb;
  overflow: hidden;
  font-family: Menlo;
  font-size: 13px;

  .block {
    margin: 4px 0;
    padding: 30px 60px;
    display: inline-block;
    width: 180px;
    border-width: 1px;
    border-style: dashed;
    text-align: center;
  }

  .red   {
    color: $codeRed;
    &.block { border-color: $codeRed; }
  }
  .orange {
    color: $codeOrange;
  }
  .yellow {
    color: $codeYellow;
  }
  .green {
    color: $codeGreen;
    &.block {
      background: rgba(0, 179, 62, 0.03) url("stripes.png");
      border-color: $codeGreen;
    }
  }
  .blue  {
    color: $codeBlue;
    &.block { border-color: $codeBlue; }
  }
  .purple {
    color: $codePurple;
  }
  .gray {
    color: $codeGray;
  }
  .comment {
    color: $codeGray;
    font-style: italic;
  }
}

[class^="column-"] {
  float: left;
}

.column-2 {
  width: 49%;

  &:last-child {
    float: right;
  }
}

.column-3 {
  width: 32%;

  &:last-child {
    float: right;
  }
}

.hide {
  display: none;
}

.row {
  clear: both;
  margin: 15px 0;
}

.nobullets {
  list-style: none;
}

ul {
  margin-left: 25px;
}

dd {
  margin: 6px 6px 6px 20px;
}

dd pre {
  margin-bottom: 8px;
}

strong {
  font-weight: bold;
}

.code-title {
  display: inline-block;
  padding: 5px 0;
  font-style: italic;
  font-size: 110%;
  // background: linear-gradient(to bottom, #f9f9f9 0%,#e8e8e8 100%);
  // border: 1px solid #d0d0d0;
  // border-bottom: none;
  // border-radius: 6px 6px 0 0;
  // text-shadow: 0 1px 0 #fff;
}

.br {
  display: block;
  height: 0;
}
