/*
Syntax error: Invalid CSS after "  border-radius:": expected pseudoclass or pseudoelement, was " 2px;"
        on line 103 of style.scss

98: 
99:   display: block;
100:   font-family: Consolas;
101:   border: 1px solid #d0d0d0;
102:   padding: 8px 8px 8px 15px;d321
103:   border-radius: 2px;
104:   background: #fafafa;
105:   overflow: hidden;
106: 
107:   .block {
108:     margin: 4px 0;

Backtrace:
style.scss:103
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:1148:in `expected'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:1084:in `expected'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:1066:in `expr!'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:794:in `pseudo'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:678:in `simple_selector_sequence'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:646:in `_selector'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:619:in `selector'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:603:in `selector_sequence'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:528:in `ruleset'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:591:in `block in declaration_or_ruleset'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:1122:in `call'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:554:in `block_child'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:535:in `block'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:553:in `block_child'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/scss/parser.rb:27:in `parse'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/engine.rb:342:in `_to_tree'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:201:in `each'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/vendor/listen/lib/listen/adapter.rb:198:in `call'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/allen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.9/vendor/listen/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"  border-radius:\": expected pseudoclass or pseudoelement, was \" 2px;\"\A         on line 103 of style.scss\A \A 98: \A 99:   display: block;\A 100:   font-family: Consolas;\A 101:   border: 1px solid #d0d0d0;\A 102:   padding: 8px 8px 8px 15px;d321\A 103:   border-radius: 2px;\A 104:   background: #fafafa;\A 105:   overflow: hidden;\A 106: \A 107:   .block {\A 108:     margin: 4px 0;"; }
